@using Com.Trakindo.TSICS.Data.Model
@{
    ViewBag.Title = "Product Health";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    var getDataFC = (GetFormCollectionPPMFinancial)ViewBag.ModelFormCollectionPPM;
    var urlGet = "?hid=" + getDataFC.HID + "&rental=" + getDataFC.Rental + "&inventory=" + getDataFC.Inventory + "&others=" + getDataFC.Others + "&dateRangeFrom=" + getDataFC.DateRangeFrom + "&dateRangeEnd=" + getDataFC.DateRangeEnd + "&PartNumber=" + getDataFC.PartNumber + "&PartDescription=" + getDataFC.PartDescription + "&ModelDashboard=" + getDataFC.Model + "&PrefixSN=" + getDataFC.PrefixSN;
    var date = "";
    if (ViewBag.DateFrom == "" && ViewBag.DateEnd == "")
    {
        date = "";
    }
    else if (ViewBag.DateFrom != "" && ViewBag.DateEnd == "")
    {
        date = ViewBag.DateFrom;
    }
    else if (ViewBag.DateFrom != "" && ViewBag.DateEnd != "")
    {
        date = ViewBag.DateFrom + " to " + ViewBag.DateEnd;
    }
}

<main class="body position-relative d-flex flex-column">
    <div data-active_page="admin--dashboard--ppm-financial" class="content-wrap flex-fill">
        <section class="position-relative mt-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 position-relative">
                        <section class="mb-3">
                            <div class="d-sm-flex justify-content-between align-items-center mb-3">
                                <h2 class="h4-size">PPM Dashboard / DPPM Financial &amp; Quantity Calculation</h2>
                                <div class="small text-muted"><i class="far fa-clock mr-2"></i><span>Edited 1w ago</span></div>
                            </div>
                        </section>
                        <form id="form--dashboard--ppm-financial" method="POST">
                            <section>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card bg-white shadow-sm border-0 mb-3">
                                            <nav class="card-navbar navbar navbar-dark bg-warning text-white">
                                                <div class="left d-flex align-items-center">
                                                    <div class="h4 font-secondary mb-0">Filters</div>
                                                </div>
                                                <div class="right">
                                                    <button data-toggle="collapse" data-target="#collapse-target-1" type="button" class="btn btn-sm bg-transparent rounded-pill text-white btn-toggle-arrow"><i class="fa fa-chevron-right"></i></button>
                                                </div>
                                            </nav>
                                            <fieldset id="collapse-target-1" class="collapse show">
                                                <div class="card-body">
                                                    <div class="row mb-3">
                                                        <div class="col-md-12">
                                                            <div class="form-group form-inline">
                                                                <label>Part Number of Causing Failure Part Input</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group form-inline">
                                                                @if (getDataFC.Inventory == "on")
                                                                {
                                                                    <label class="custom-checkbox form-check mr-4">
                                                                        <input id="cbinventory" type="checkbox" checked name="inventory" class="form-check-input activating-others">
                                                                        <div class="form-check-label custom-label"><i class="icon fa fa-check"></i><span class="text">Inventory</span></div>
                                                                    </label>
                                                                }
                                                                else
                                                                {
                                                                    <label class="custom-checkbox form-check mr-4">
                                                                        <input id="cbinventory" type="checkbox" name="inventory" class="form-check-input activating-others">
                                                                        <div class="form-check-label custom-label"><i class="icon fa fa-check"></i><span class="text">Inventory</span></div>
                                                                    </label>
                                                                }

                                                                @if (getDataFC.Rental == "on")
                                                                {
                                                                    <label class="custom-checkbox form-check mr-4">
                                                                        <input id="cbrental" type="checkbox" checked name="rental" class="form-check-input activating-others">
                                                                        <div class="form-check-label custom-label"><i class="icon fa fa-check"></i><span class="text">Rental</span></div>
                                                                    </label>
                                                                }
                                                                else
                                                                {
                                                                    <label class="custom-checkbox form-check mr-4">
                                                                        <input id="cbrental" type="checkbox" name="rental" class="form-check-input activating-others">
                                                                        <div class="form-check-label custom-label"><i class="icon fa fa-check"></i><span class="text">Rental</span></div>
                                                                    </label>
                                                                }

                                                                @if (getDataFC.HID == "on")
                                                                {
                                                                    <label class="custom-checkbox form-check mr-4">
                                                                        <input id="cbhid" type="checkbox" checked name="hid" class="form-check-input activating-others">
                                                                        <div class="form-check-label custom-label"><i class="icon fa fa-check"></i><span class="text">HID</span></div>
                                                                    </label>
                                                                }
                                                                else
                                                                {
                                                                    <label class="custom-checkbox form-check mr-4">
                                                                        <input id="cbhid" type="checkbox" name="hid" class="form-check-input activating-others">
                                                                        <div class="form-check-label custom-label"><i class="icon fa fa-check"></i><span class="text">HID</span></div>
                                                                    </label>
                                                                }

                                                                @if (getDataFC.Others == "on")
                                                                {
                                                                    <label class="custom-checkbox form-check mr-4">
                                                                        <input id="cbothers" type="checkbox" checked name="others" data-enable-if=".activating-others" class="form-check-input">
                                                                        <div class="form-check-label custom-label"><i class="icon fa fa-check"></i><span class="text">Others</span></div>
                                                                    </label>
                                                                }
                                                                else
                                                                {
                                                                    <label class="custom-checkbox form-check mr-4">
                                                                        <input id="cbothers" type="checkbox" name="others" data-enable-if=".activating-others" class="form-check-input">
                                                                        <div class="form-check-label custom-label"><i class="icon fa fa-check"></i><span class="text">Others</span></div>
                                                                    </label>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label class="small">Date Range:</label>
                                                                <div class="input-group">
                                                                    <input type="text" name="dateRange" readonly="readonly" class="form-control bg-white rounded-0 border-right-0 datepicker-range">
                                                                    <div class="input-group-append">
                                                                        <label class="btn border-left-0 input-group-text bg-white rounded-0 d-table"><i class="fa fa-calendar"></i></label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div>Repair Date: <strong>@date</strong></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label>Part Number</label>
                                                                <input data-ajax-autosuggest="@Url.Action("AutoSuggestPartNumberDPPMFinancial","Dashboard")" data-onSelect="{'func_name': 'addTag', 'output': '#add-tag-list-1', 'input_name': 'part-number', 'css_class': 'tag-input','unique': true}" data-list="#datalist--part-number" type="text" class="clone-input-val rounded-0 form-control bg-white">
                                                                <datalist id="datalist--part-number"></datalist>
                                                                <div id="add-tag-list-1" data-selected="" class="d-flex flex-wrap"></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label>Part Description</label>
                                                                <input data-ajax-autosuggest="@Url.Action("AutoSuggestPartDescriptionDPPMFinancial","Dashboard")" data-onSelect="{'func_name': 'addTag', 'output': '#add-tag-list-2', 'input_name': 'part-description', 'css_class': 'tag-input','unique': true}" data-list="#datalist--part-description" type="text" class="clone-input-val rounded-0 form-control bg-white">
                                                                <datalist id="datalist--part-description"></datalist>
                                                                <div id="add-tag-list-2" data-selected="" class="d-flex flex-wrap"></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label>Model</label>
                                                                <input data-ajax-autosuggest="@Url.Action("AutoSuggestModelDPPMFinancial","Dashboard")" data-onSelect="{'func_name': 'addTag', 'output': '#add-tag-list-3', 'input_name': 'model', 'css_class': 'tag-input','unique': true}" data-list="#datalist--model" type="text" class="clone-input-val rounded-0 form-control bg-white">
                                                                <datalist id="datalist--model"></datalist>
                                                                <div id="add-tag-list-3" data-selected="" class="d-flex flex-wrap"></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label>Prefix SN</label>
                                                                <input data-ajax-autosuggest="@Url.Action("AutoSuggestPrefixSNDPPMFinancial","Dashboard")" data-onSelect="{'func_name': 'addTag', 'output': '#add-tag-list-4', 'input_name': 'prefix-sn', 'css_class': 'tag-input','unique': true}" data-list="#datalist--prefix-sn" type="text" class="clone-input-val rounded-0 form-control bg-white">
                                                                <datalist id="datalist--prefix-sn"></datalist>
                                                                <div id="add-tag-list-4" data-selected="" class="d-flex flex-wrap"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        @if (getDataFC.Model != "" || getDataFC.PartNumber != "" || getDataFC.PartDescription != "" || getDataFC.PrefixSN != "")
                                                        {
                                                            <p>Filter :</p>
                                                        }
                                                        <div class="col-md-12">
                                                            @if (getDataFC.PartNumber != "")
                                                            {
                                                                <div class="form-group mr-3">
                                                                    <p>Part Number : @getDataFC.PartNumber</p>
                                                                </div>
                                                            }
                                                            @if (getDataFC.Model != "")
                                                            {
                                                                <div class="form-group mr-3">
                                                                    <p>Model : @getDataFC.Model</p>
                                                                </div>
                                                            }
                                                            @if (getDataFC.PartDescription != "")
                                                            {
                                                                <div class="form-group mr-3">
                                                                    <p>Part Description : @getDataFC.PartDescription</p>
                                                                </div>
                                                            }
                                                            @if (getDataFC.PrefixSN != "")
                                                            {
                                                                <div class="form-group mr-3">
                                                                    <p>Prefix SN : @getDataFC.PrefixSN</p>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="text-center">
                                                                <button type="submit" class="btn btn-warning btn-show-result px-4 py-2">Show Result</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card bg-white shadow-sm border-0 mb-3">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-6 col-lg-3 mb-4">
                                                        <div class="mb-2">Total Service Order Cost</div>
                                                        <div style="min-height: 6rem;" class="card bg-warning lighter">
                                                            <div class="card-body d-flex flex-column justify-content-center py-3">
                                                                <div><span class="h3">$@ViewBag.TotalSOCost</span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-lg-3 mb-4">
                                                        <div class="mb-2">Total Unit Impacted</div>
                                                        <div style="min-height: 6rem;" class="card bg-warning lighter">
                                                            <div class="card-body d-flex flex-column justify-content-center py-3">
                                                                <div><span class="h3">@ViewBag.TotalUnitImpacted</span><span>unit</span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-lg-3 mb-4">
                                                        <div class="mb-2">Financial Summary</div>
                                                        <div style="min-height: 6rem;" class="card bg-warning lighter">
                                                            <div class="card-body d-flex flex-column justify-content-center py-3">
                                                                <div><span class="h3">$@ViewBag.FinancialSummary</span><span>/unit</span></div><small>Cost per unit ($)</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-lg-3 mb-4">
                                                        <div class="mb-2">Quantity Summary</div>
                                                        <div style="min-height: 6rem;" class="card bg-warning lighter">
                                                            <div class="card-body d-flex flex-column justify-content-center py-3">
                                                                <div><span class="h3">@ViewBag.QuantitySummary</span></div><small>Dealers Repairs (workorder)</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="ppm-dashboard" class="card-body">
                                                <div class="table-responsive">
                                                    <div class="data-check">
                                                        <div class="data-check--false">
                                                            <div class="title">Data Not Found</div>
                                                        </div>
                                                        <div class="data-check--true">
                                                            <div class="chart combo-bar">
                                                                <div data-chart-combo-bar="{'api': '@Url.Action("ChartComboPPMFinancial","Dashboard")@urlGet', 'form_data_source': '#form--dashboard--psl-outstanding'}" class="canvas-wrap">
                                                                    <canvas style="width: 800px; height: 300px;" class="mx-auto"></canvas>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer text-right">
                                                <button data-img-target="#ppm-dashboard" data-img-filename="ppm-dashboard" type="button" class="btn-img-download btn btn-outline-secondary btn-sm ml-3"><small>Save as image</small></button>
                                            </div>
                                            <div class="card-body">
                                                <div class="border p-3">
                                                    <div id="table--ppm-financial" data-dt-api="@Url.Action("TableDashboardPPMFinance","Dashboard")@urlGet" data-dt-params="{'fixedHeader': true, 'fixedColumns': { 'leftColumns': 1 }}" class="table-responsive">
                                                        <table class="table table-dt small">
                                                            <thead>
                                                                <tr>
                                                                    <th>Serial No</th>
                                                                    <th>Model</th>
                                                                    <th>Product Problem Description</th>
                                                                    <th>Comment</th>
                                                                    <th>Service Order</th>
                                                                    <th>Service Meter Measurement</th>
                                                                    <th>Unit Mes</th>
                                                                    <th>Sales Office</th>
                                                                    <th>Part No</th>
                                                                    <th>Part Desc</th>
                                                                    <th>Repair Date</th>
                                                                    <th>Total Cost SO</th>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                        <script>
                                                            var column_dt_table = [
                                                                {
                                                                    data: 'serial_no',
                                                                    render: function (data, type, row) {
                                                                        var html = ''
                                                                        html = '<span class="' + data.style + '">' + data.value + '</span>'
                                                                        return html
                                                                    }
                                                                },
                                                                {
                                                                    data: 'model',
                                                                    render: function (data, type, row) {
                                                                        var html = ''
                                                                        html = '<span class="' + data.style + '">' + data.value + '</span>'
                                                                        return html
                                                                    }
                                                                },
                                                                {
                                                                    data: 'prod_prob_desc',
                                                                    render: function (data, type, row) {
                                                                        var html = ''
                                                                        html = '<span class="' + data.style + '">' + data.value + '</span>'
                                                                        return html
                                                                    }
                                                                },
                                                                {
                                                                    data: 'comment',
                                                                    render: function (data, type, row) {
                                                                        var html = ''
                                                                        html = '<span class="' + data.style + '">' + data.value + '</span>'
                                                                        return html
                                                                    }
                                                                },
                                                                {
                                                                    data: 'service_order',
                                                                    render: function (data, type, row) {
                                                                        var html = ''
                                                                        html = '<span class="' + data.style + '">' + data.value + '</span>'
                                                                        return html
                                                                    }
                                                                },
                                                                {
                                                                    data: 'service_mtr_measr',
                                                                    render: function (data, type, row) {
                                                                        var html = ''
                                                                        html = '<span class="' + data.style + '">' + data.value + '</span>'
                                                                        return html
                                                                    }
                                                                },
                                                                {
                                                                    data: 'unit_mes',
                                                                    render: function (data, type, row) {
                                                                        var html = ''
                                                                        html = '<span class="' + data.style + '">' + data.value + '</span>'
                                                                        return html
                                                                    }
                                                                },
                                                                {
                                                                    data: 'sales_office',
                                                                    render: function (data, type, row) {
                                                                        var html = ''
                                                                        html = '<span class="' + data.style + '">' + data.value + '</span>'
                                                                        return html
                                                                    }
                                                                },
                                                                {
                                                                    data: 'part_no',
                                                                    render: function (data, type, row) {
                                                                        var html = ''
                                                                        html = '<span class="' + data.style + '">' + data.value + '</span>'
                                                                        return html
                                                                    }
                                                                },
                                                                {
                                                                    data: 'part_desc',
                                                                    render: function (data, type, row) {
                                                                        var html = ''
                                                                        html = '<span class="' + data.style + '">' + data.value + '</span>'
                                                                        return html
                                                                    }
                                                                },
                                                                {
                                                                    data: 'repair_date',
                                                                    render: function (data, type, row) {
                                                                        var html = ''
                                                                        html = '<span class="' + data.style + '">' + data.value + '</span>'
                                                                        return html
                                                                    }
                                                                },
                                                                {
                                                                    data: 'total_cost_so',
                                                                    render: function (data, type, row) {
                                                                        var html = ''
                                                                        html = '<span class="' + data.style + '">' + data.value + '</span>'
                                                                        return html
                                                                    }
                                                                },
                                                            ]
                                                        </script>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
