@model Com.Trakindo.TSICS.Data.Model.User

@{
    ViewBag.Title = "Approve2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="body position-relative d-flex flex-column">
    <div data-active_page="library" class="content-wrap flex-fill">
    
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.UserId)
            @Html.HiddenFor(model => model.Approval2)
            @Html.HiddenFor(model => model.EmployeeId)
            @*<form novalidate method="GET" enctype="multipart/form-data" class="needs-validation">*@
            <section class="position-relative mt-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 mx-auto offset-lg-3">
                            <h3 class="font-secondary">INBOX</h3>
                        </div>
                    </div>
                    <div class="row pb-5">
                        @*@Html.Partial("_LayoutArticle")*@
                        <div class="col-lg-9 mx-auto position-relative">
                            <section class="card bg-white shadow-sm border-0 h-100">
                                <div class="card-header bg-transparent border-0">
                                    <div class="row">
                                        <div class="col text-right">
                                            <div class="h3 font-secondary card-title mb-0"> <span>TREND - </span><span class="text-muted">NEED APPROVAL</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div>To: @ViewBag.Approval2.Email</div>
                                    <div>Reply-to: @Model.Email</div>
                                </div>
                                <hr>
                                <fieldset class="card-body">
                                    <legend></legend>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="row no-gutters text-muted mb-4">
                                                Dear Mr./Mrs. @ViewBag.Approval2.Employee_Name,
                                                </div>
                                            <div class="row no-gutters text-muted mb-4">
                                                Mr. /Mrs. @Model.Name request to join in to our Technical Request application has been verified by Mr. / Mrs. @ViewBag.Approval.Employee_Name decission with below comment.
                                                
                                                <div class="jumbotron my-3 p-3 col-12">
                                                    <p class="lead text-center">" @ViewBag.MessageResponse.Message"</p>
                                                    <p class="text-sm-right">@ViewBag.MessageResponse.CreatedAt</p>
                                                </div>
                                                    Technical Request application is Trakindo’s Technical Community Discussion which each member are allowed to submit and obligated to response on Technical Request in timely and documented manner.  Your approval required before access request granted.
                                                </div>
                                            <div class="row no-gutters text-muted mb-4">

                                                Here are some registration details:

                                            </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="row no-gutters text-muted mb-4">
                                                    <div class="col-xl-4 mb-0 mb-lg-2 d-flex justify-content-between">Location <span class="d-none d-xl-inline mx-1">:</span></div>
                                                    <div class="col-xl-8 mb-3 mb-lg-2">
                                                        <div class="switch-field">
                                                            <div class="prev">@(String.IsNullOrWhiteSpace(Model.BranchName)? "-" : Model.BranchName )</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-4 mb-0 mb-lg-2 d-flex justify-content-between">Area<span class="d-none d-xl-inline mx-1">:</span></div>
                                                    <div class="col-xl-8 mb-3 mb-lg-2">
                                                        <div class="switch-field">
                                                            <div class="prev">@(String.IsNullOrWhiteSpace(Model.AreaName) ? "HEAD OFFICE" : Model.AreaName )</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-4 mb-0 mb-lg-2 d-flex justify-content-between">Specification<span class="d-none d-xl-inline mx-1">:</span></div>
                                                    <div class="col-xl-8 mb-3 mb-lg-2">
                                                        <div class="switch-field">
                                                            <div class="prev">@Model.RoleDescription </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-4 mb-0 mb-lg-2 d-flex justify-content-between">Level<span class="d-none d-xl-inline mx-1">:</span></div>
                                                    <div class="col-xl-8 mb-3 mb-lg-2">
                                                        <div class="switch-field">
                                                            <div class="prev">@ViewBag.Level </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </fieldset>
                                <fieldset class="card-body">
                                    <legend></legend>
                                    <div class="cust-fab d-inline-block d-md-none left">
                                        <input id="fab-check" type="checkbox" name="" class="fab-check">
                                        <label for="fab-check" class="btn btn-warning text-white rounded-circle btn-fab-trigger"><i class="fa fa-plus"></i></label>
                                        <div class="fab-group">
                                            <button type="button" data-toggle="modal" data-target="#modal--confirm-approve" class="fab-item btn rounded-pill btn-light border-warning shadow-sm">Approve</button>
                                            @*<button type="button" class="fab-item btn rounded-pill btn-light border-warning shadow-sm btn-toggle--switch-field">Edit This Request</button>*@
                                            <button data-toggle="modal" data-target="#modal--confirm-reject" type="button" class="fab-item btn rounded-pill btn-light border-warning shadow-sm">Reject</button>
                                        </div>
                                    </div>
                                    <div class="row d-none d-md-flex">
                                        @*<div class="col-12 col-md-4 mb-3 mb-md-0">
                                                <button type="button" class="btn rounded-0 border-warning bg-light btn-toggle--switch-field"><span>Edit This Request</span><i class="fa fa-pencil-alt ml-3"></i></button>
                                            </div>*@
                                        <div class="col-12 col-md-8 text-left text-md-right">
                                            <button type="button" data-toggle="modal" data-target="#modal--confirm-reject" class="btn rounded-0 btn-danger ml-2">REJECT</button>
                                            <button type="button" data-toggle="modal" data-target="#modal--confirm-approve" class="btn rounded-0 btn-success ml-2">APPROVE</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
        }
        @*</form>*@


        <div id="modal--confirm-reject" class="modal fade">
            <div style="max-width: 25rem" class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body pb-0">
                        <button type="button" data-dismiss="modal" class="close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("Reject2", "Account", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.UserId)
                            <form action="" method="POST">
                                <div class="form-group">
                                    <h4>Reason reject this Approval</h4>
                                </div>
                                <div class="form-group">
                                    @*@Html.TextAreaFor(p => p.UserM, new { @cols = 60, @rows = 4 })*@
                                    <textarea rows="4" name="rejectMsg" class="form-control"></textarea>
                                </div>
                                <div class="form-group d-flex justify-content-end mb-0">
                                    @*<button type="button" class="btn rounded-0 btn-warning ml-2">CANCEL</button>*@
                                    <input type="submit" class="btn rounded-0 btn-light border-warning ml-2" value="SUBMIT REJECTION">
                                </div>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div id="modal--confirm-approve" class="modal fade">
            <div style="max-width: 25rem" class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body pb-0">
                        <button type="button" data-dismiss="modal" class="close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.UserId)
                            @Html.HiddenFor(model => model.Approval2)
                            @Html.HiddenFor(model => model.EmployeeId)
                            <form action="" method="POST">
                                <div class="form-group">
                                    <h4>Comment this Approval</h4>
                                </div>
                                <div class="form-group">
                                    @*@Html.TextAreaFor(p => p.UserM, new { @cols = 60, @rows = 4 })*@
                                    <textarea rows="4" name="approveMsg" class="form-control"></textarea>
                                </div>
                                <div class="form-group d-flex justify-content-end mb-0">
                                    <input type="submit" class="btn rounded-0 btn-light border-warning ml-2" value="SUBMIT APPROVAL">
                                </div>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>