
@model Com.Trakindo.TSICS.Data.Model.Article
@using Com.Trakindo.TSICS.Data.Model
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="position-relative mt-5">
    <div class="container">
        <div class="row">
            @Html.Partial("_LayoutMyPostArticle")
            <div class="col-lg-9 position-relative">
                <div data-active_page="Article" class="content-wrap flex-fill"></div>
                <div data-active_page="Article--List" class="content-wrap flex-fill"></div>
                    <h3 class="font-secondary"><span class="text-dark">DELETE</span> <span class="text-secondary">ARTICLES </span></h3>
                    <div style="top: 7rem; height: 0;" class="position-sticky z-index-10">
                        <a style="right: -4rem;" href="@Url.Action("HelpDesk", "TechnicalRequest")" class="btn btn-warning border-0 btn-customer-service position-absolute" target="_blank"><img src="@Url.Content("~/assets/images/repository/customer-service-icon.png")" alt=""></a>
                    </div>
                    <div class="row no-gutters mb-5">
                        <div class="col-lg-12 position-relative">
                            <h5>Are you sure you want to delete this?</h5>
                            <section class="card bg-white shadow-sm border-0 mb-5">
                                <nav class="card-navbar navbar navbar-dark bg-secondary text-white">
                                    <div class="left d-flex align-items-center">
                                        <div class="h4 font-secondary mb-0">CATEGORY</div>
                                    </div>
                                    <div class="right">
                                        <button data-toggle="collapse" data-target="#collapse-target-1" type="button" class="btn btn-sm bg-transparent rounded-pill text-white btn-remove"><i class="fa fa-chevron-right"></i></button>
                                    </div>
                                </nav>
                                <div id="collapse-target-1" class="collapse show">
                                    <div class="card-body">
                                        <div class="form-group row no-gutters">
                                            <div class="col-md-3 d-flex justify-content-between align-items-center">Category<span class="d-none d-md-inline mx-1">:</span></div>
                                            <div class="col-md-9">
                                                @Html.DisplayFor(model => model.Category1)
                                            </div>
                                        </div>

                                        <div class="form-group row no-gutters">
                                            <div class="col-md-3 d-flex justify-content-between align-items-center">Status<span class="d-none d-md-inline mx-1">:</span></div>
                                            <div class="col-md-9">
                                                @if (Model.Status == 0)
                                                {
                                                    <div><strong>Submited</strong></div>
                                                }
                                                else if (Model.Status == 1)
                                                {
                                                    <div><strong>Publish</strong></div>
                                                }
                                                else if (Model.Status == 2)
                                                {
                                                    <span><strong>Draft</strong></span>
                                                }
                                                else if (Model.Status == 3)
                                                {
                                                    <div class="text-danger"><strong>Rejected</strong></div>
                                                }
                                                else if (Model.Status == 4)
                                                {
                                                    <div class="text-danger"><strong>Deleted</strong></div>
                                                }
                                                else if (Model.Status == 5)
                                                {
                                                    <div><strong>Approved By 1st SPV</strong></div>
                                                }
                                                else if (Model.Status == 6)
                                                {
                                                    <div class="text-danger"><strong>Rejected by 1st SPV</strong></div>
                                                }
                                                else if (Model.Status == 7)
                                                {
                                                    <div><strong>Approved By 2nd SPV</strong></div>
                                                }
                                                else if (Model.Status == 8)
                                                {
                                                    <div class="text-danger"><strong>Rejected By 2nd SPV</strong></div>
                                                }
                                                else if (Model.Status == 9)
                                                {
                                                    <div><strong>Approved By TS Manager</strong> <div class="text-danger">(NEED TO PUBLISH)</div></div><br />

                                                    <a href="@Url.Action("Edit", "Articles", new { id = Model.ArticleId })" class="btn btn-danger">Publish Now</a>
                                                }
                                                else if (Model.Status == 10)
                                                {
                                                    <div class="text-danger"><strong>Rejected By TS Manager</strong></div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <section class="card bg-white shadow-sm border-0 mb-5">
                                <nav class="card-navbar navbar navbar-dark bg-secondary text-white">
                                    <div class="left d-flex align-items-center">
                                        <div class="h4 font-secondary mb-0">ARTICLE</div>
                                    </div>
                                    <div class="right">
                                        <button data-toggle="collapse" data-target="#collapse-target-2" type="button" class="btn btn-sm bg-transparent rounded-pill text-white btn-remove"><i class="fa fa-chevron-right"></i></button>
                                    </div>
                                </nav>
                                <div id="collapse-target-2" class="collapse show">
                                    <div class="card-body">
                                        <label>Header Image</label>
                                        <div class="card card-body my-3 mx-3 ">
                                            @if (Model.HeaderImage == null)
                                            {
                                                <h4 class="text-center">There's No Header Image Uploaded Yet</h4>
                                            }
                                            else
                                            {
                                                <img style="width: 400px; height: 200px;" src="@ViewBag.HeaderImg" onerror="this.onerror=null;this.src='@Url.Content("~/Upload/image-not-found.png")';" class="mx-auto object-fit-cover">
                                            }
                                        </div>
                                        <div class="form-group row no-gutters">
                                            <div class="col-md-3 d-flex justify-content-between align-items-center">Title<span class="d-none d-md-inline mx-1">:</span></div>
                                            <div class="col-md-9">
                                                @(String.IsNullOrWhiteSpace(Model.Title) ? "-" : Model.Title)
                                            </div>
                                        </div>
                                        <div class="form-group row no-gutters">
                                            <div class="col-md-3 d-flex justify-content-between align-items-center">Content<span class="d-none d-md-inline mx-1">:</span></div>
                                            <div class="col-md-9">
                                                @if (!String.IsNullOrWhiteSpace(Model.Description))
                                                {
                                                    @Html.Raw(Model.Description)
                                                }
                                                else
                                                {
                                                    <div>-</div>
                                                }
                                            </div>
                                        </div>
                                        <div class="form-group row no-gutters">
                                            <div class="col-md-3 d-flex justify-content-between align-items-center">User Level<span class="d-none d-md-inline mx-1">:</span></div>
                                            <div class="col-md-9">
                                                @Html.DisplayFor(model => model.LevelUser)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <section class="card bg-white shadow-sm border-0 mb-5">
                                <nav class="card-navbar navbar navbar-dark bg-secondary text-white">
                                    <div class="left d-flex align-items-center">
                                        <div class="h4 font-secondary mb-0">FILE & TAG</div>
                                    </div>
                                    <div class="right">
                                        <button data-toggle="collapse" data-target="#collapse-target-3" type="button" class="btn btn-sm bg-transparent rounded-pill text-white btn-remove"><i class="fa fa-chevron-right"></i></button>
                                    </div>
                                </nav>
                                <div id="collapse-target-3" class="collapse show">
                                    <fieldset class="card-body mb-5">
                                        <legend></legend>
                                        <div class="text-muted">ATTACHMENT</div>
                                        <div class="border p-4">
                                            <div class="form-group mb-0">
                                                <div id="attachment-item-output" class="row">
                                                    @if (ViewBag.Attachments.Count > 0)
                                                    {
                                                        int currentAttachmentsIndex = 0;
                                                        foreach (TicketAttachmentsAPI ticketAttachment in ViewBag.Attachments)
                                                        {
                                                            <div class="attachment-item col-12 col-xs-6 col-sm-auto mt-2 mb-3" style="max-width: 180px;">
                                                                <div class="card border-0">
                                                                    <div class="position-relative">
                                                                        <div style="top: 0; left: 0; right: 0;" class="position-absolute overflow-hidden">
                                                                            <input type="hidden" name="current-attachments[]" value="@ticketAttachment.Id" />
                                                                        </div>
                                                                        <div class="attachment-select mb-2 text-center">
                                                                            @if (ticketAttachment.Level == "guest")
                                                                            {
                                                                                <label value="guest" selected>Guest</label>
                                                                            }

                                                                            @if (ticketAttachment.Level == "green")
                                                                            {
                                                                                <label value="guest" selected>Guest</label>
                                                                            }

                                                                            @if (ticketAttachment.Level == "yellow")
                                                                            {
                                                                                <label value="guest" selected>Guest</label>
                                                                            }
                                                                        </div>
                                                                        <picture class="d-block atc-prev-wrap text-center">
                                                                            @{
                                                                                string[] imgExt = { ".jpg", ".png", ".jpeg", ".gif", ".bmp", ".tif", ".tiff" };
                                                                                if (!imgExt.Contains(ticketAttachment.Type))
                                                                                {
                                                                                    <img src="" alt="" style="width: 110px; height: 110px; display: none;" class="card-img-top object-fit-cover attachment-preview rounded-0 img-thumbnail mb-2" id="current-image-@currentAttachmentsIndex">
                                                                                    <i style="height: 110px; font-size: 3rem; line-height: 110px; width: 110px; border: solid 1px #ddd;" class="fa fa-file-@ticketAttachment.Type.Substring(1) text-muted mb-2"></i>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <img src="@ticketAttachment.Name" alt="" style="width: 110px; height: 110px;" class="card-img-top object-fit-cover attachment-preview rounded-0 img-thumbnail mb-2" id="current-image-@currentAttachmentsIndex">
                                                                                }
                                                                            }
                                                                        </picture>
                                                                    </div>
                                                                    <div class="d-flex justify-content-between align-items-center ">
                                                                        <small class="attachment-filename text-truncate d-inline-block text-muted" style="max-width: 100px;">Attachment-currentAttachmentsIndex</small>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                                                        currentAttachmentsIndex = currentAttachmentsIndex + 1;
                                                                                    }
                                                                                }
                                                                                else
                                                                                {
                                                                                    <div class="text-center">
                                                                                        <h5 class="text-muted text-center display-5">THERE'S NO ATTACHMENT RELATED</h5>
                                                                                    </div>
                                                                                }
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>


                                    <fieldset class="card-body">
                                        <legend></legend>
                                        <div class="text-muted">TAG</div>
                                        <div class="rounded-lg border bg-light">
                                            <div class="p-1 p-md-4">

                                                @{
                                                    if (ViewBag.Tags.Count > 0)
                                                    {
                                                        foreach (ArticleTags tag in ViewBag.Tags)
                                                        {
                                                            <span class="badge badge-secondary rounded-pill text-white px-3 py-2" style="font-size: 14px;">
                                                                @tag.Name
                                                            </span>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <div class="text-center">
                                                            <h5 class="text-muted text-center display-5">THERE'S NO TAG RELATED</h5>
                                                        </div>
                                                    }
                                                }

                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </section>

                            <section style="bottom: 0;" class="position-sticky bg-light py-3 sticky-submit-form z-index-10">
                                @using (Html.BeginForm())
                            {
                                    @Html.AntiForgeryToken()
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="cust-fab d-inline-block d-md-none left">
                                                    <input id="fab-check" type="checkbox" name="" class="fab-check">
                                                    <label for="fab-check" class="btn btn-warning text-white rounded-circle btn-fab-trigger"><i class="fa fa-plus"></i></label>
                                                    <div class="fab-group">
                                                        <button type="submit" name="Submit" value="Submit" class="fab-item btn rounded-pill btn-light border-warning shadow-sm">Submit</button>
                                                        <a class="fab-item btn rounded-pill btn-light border-warning shadow-sm" href="javascript:history.go(-1)">Cancel</a>
                                                    </div>
                                                </div>
                                                <div class="d-none d-md-flex justify-content-between">
                                                    <div>
                                                        <a class="btn rounded-0 border-warning bg-light my-1 float-left" href="javascript:history.go(-1)" role="button">Back to List</a>
                                                    </div>
                                                    <div>
                                                        <input type="submit" value="Delete" class="btn btn-danger" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </section>
                            <div class="sticky-submit-form-observer"></div>
                        </div>
                    </div>

           
            </div>
        </div>
    </div>
</section>