@model Com.Trakindo.TSICS.Data.Model.MasterArea

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

    List<SelectListItem> listStatus = new List<SelectListItem>();
    listStatus.Add(new SelectListItem { Text = "Active", Value = "1" });
    listStatus.Add(new SelectListItem { Text = "Inactive", Value = "0" });
}

<main class="body position-relative d-flex flex-column">
    <div data-active_page="masterArea--all-post" class="content-wrap flex-fill">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "request-form", novalidate = "", Class = "needs-validation" }))
        {
            @Html.HiddenFor(model => model.MasterAreaId)
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <section class="position-relative mt-5">
                <div class="container-fluid container-admin ml-0">
                    <div class="row">
                        <div class="col-lg-12 position-relative">
                            <h3 class="font-secondary"> <span class="text-secondary">Master Area </span><span class="text-dark">Update</span></h3>

                            <section class="card bg-white shadow-sm border-0 mb-5">
                                <nav class="card-navbar navbar navbar-dark bg-secondary text-white">
                                    <div class="left d-flex align-items-center">
                                        <div class="h4 font-secondary mb-0">Master Area</div>
                                    </div>
                                    <div class="right">
                                        <button data-toggle="collapse" data-target="#collapse-target-2" type="button" class="btn btn-sm bg-transparent rounded-pill text-white btn-remove"><i class="fa fa-chevron-right"></i></button>
                                    </div>
                                </nav>
                                <div id="collapse-target-2" class="collapse show">
                                    <div class="card-body">
                                        <div class="form-group mb-4">
                                            <label>Master Area Name</label>
                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control border" } })
                                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group mb-4">
                                            <label>Status</label>
                                            @Html.DropDownListFor(model => model.Status, listStatus, null, new { @class = "form-control", placeholder = "Select Category", data_style = "border bg-white", data_width = "100%", data_container = "body" })
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </div>
                    </div>
                </div>
            </section>
            <section style="bottom: 0;" class="position-sticky bg-light py-3 sticky-submit-form z-index-10">
                <div class="container-fluid container-admin ml-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="cust-fab d-inline-block d-md-none left">
                                <input id="fab-check" type="checkbox" name="" class="fab-check">
                                <label for="fab-check" class="btn btn-warning text-white rounded-circle btn-fab-trigger"><i class="fa fa-plus"></i></label>
                                <div class="fab-group">
                                    <button type="submit" name="Submit" value="Submit" class="fab-item btn rounded-pill btn-light border-warning shadow-sm">Submit</button>
                                    <button type="button" class="fab-item btn rounded-pill btn-light border-warning shadow-sm">Cancel</button>
                                </div>
                            </div>
                            <div class="d-none d-md-flex justify-content-between">
                                <div>
                                    @Html.ActionLink("Cancel", "Index", null, new { Class = "btn rounded-0 border-warning bg-light my-1" })
                                </div>
                                <div>
                                    <button type="submit" name="Submit" value="Submit" class="btn rounded-0 btn-warning my-1 ml-2">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="sticky-submit-form-observer"></div>
        }

    </div>
</main>