@model Com.Trakindo.TSICS.Data.Model.Article

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

    List<SelectListItem> listCategoryEmpty = new List<SelectListItem>();
    listCategoryEmpty.Add(new SelectListItem { Text = "Select Category", Value = "0" });

    List<SelectListItem> listStatus = new List<SelectListItem>();
    listStatus.Add(new SelectListItem { Text = "Select", Value = "0" });
    listStatus.Add(new SelectListItem { Text = "Publish", Value = "1" });
    listStatus.Add(new SelectListItem { Text = "Reject", Value = "3" });

    List<SelectListItem> userLevelList = new List<SelectListItem>();
    userLevelList.Add(new SelectListItem { Text = "Guest", Value = "guest" });
    userLevelList.Add(new SelectListItem { Text = "Green", Value = "green" });
    userLevelList.Add(new SelectListItem { Text = "Yellow", Value = "yellow" });
}

<main class="body position-relative d-flex flex-column">
    <div data-active_page="articles--create" class="content-wrap flex-fill">
        @using (Html.BeginForm("Create", "Articles", FormMethod.Post, new { enctype = "multipart/form-data", id = "product-health-form", novalidate = "", Class = "needs-validation", data_save_to_draft = "{'target': 'assets/data/product-health.php', 'interval': 5}" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <section class="position-relative mt-5">
                <div class="container-fluid container-admin ml-0">
                    <div class="row">
                        <div class="col-lg-12 position-relative">
                            <div id="tr-form-fields">
                                <input style="display:none;" name="type" value="new" id="form-input-type">
                                <h3 class="font-secondary"> <span class="text-secondary">ARTICLES </span><span class="text-dark">CREATE</span></h3>
                                <section class="card bg-white shadow-sm border-0 mb-5">
                                    <nav class="card-navbar navbar navbar-dark bg-secondary text-white">
                                        <div class="left d-flex align-items-center">
                                            <div class="h4 font-secondary mb-0">CHOOSE CATEGORY</div>
                                        </div>
                                        <div class="right">
                                            <button data-toggle="collapse" data-target="#collapse-target-1" type="button" class="btn btn-sm bg-transparent rounded-pill text-white btn-remove"><i class="fa fa-chevron-right"></i></button>
                                        </div>
                                    </nav>
                                    <fieldset id="collapse-target-1" class="collapse show">
                                        <legend></legend>
                                        <div class="card-body">

                                            <div class="form-group row no-gutters">
                                                <div class="col-md-3 d-flex justify-content-between align-items-center">Category<span class="d-none d-md-inline mx-1">:</span></div>
                                                <div class="col-md-9">
                                                   <select name="@Html.NameFor(model => model.Category1Id)" required id="Article-Category1" data-clone-target="#article-category1-preview" data-style="border bg-white" data-width="100%" data-title="Select Category" class="selectpicker clone-input-val" data-live-search="true">
                                                        @foreach (var item in ViewBag.ListCategory1)
                                                        {
                                                            <option value="@item.ArticleCategoryId">@item.Name</option>    
                                                        }
                                                    </select>
                                                    <em class="small form-text text-danger invalid-feedback">Please Select Category First</em>
                                                    @Html.ValidationMessageFor(model => model.Category1Id, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div id="checkbox-tag" class="bg-warning card-body light no-gutters row p-0"></div>
                                    </fieldset>
                                </section>
                                <section class="card bg-white shadow-sm border-0 mb-5">
                                    <nav class="card-navbar navbar navbar-dark bg-secondary text-white">
                                        <div class="left d-flex align-items-center">
                                            <div class="h4 font-secondary mb-0">FILL THE CONTENT</div>
                                        </div>
                                        <div class="right">
                                            <button data-toggle="collapse" data-target="#collapse-target-2" type="button" class="btn btn-sm bg-transparent rounded-pill text-white btn-remove"><i class="fa fa-chevron-right"></i></button>
                                        </div>
                                    </nav>
                                    <div id="collapse-target-2" class="collapse show">
                                        <div class="card-body">
                                            <div class="form-group mb-4">
                                                <label>User Level</label>
                                                <div>
                                                    @Html.DropDownListFor(model => model.LevelUser, userLevelList, null, new { @class = "form-control", placeholder = "Select Level", data_style = "border bg-white", data_width = "100%", data_live_search = "true", data_container = "body" })
                                                </div>
                                            </div>
                                            <section class="card bg-white shadow-sm border-0 mb-5">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="h4 font-secondary mb-3">HEADER IMAGE</div>
                                                            <div class="form-group m-0">
                                                                <div data-clone-target="#header-image" id="header-image-preview" class="clone-html">
                                                                </div>
                                                                <input type="file" name="header" required accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*" data-preview-upload="#header-image-preview" class="form-control-file">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                                <div class="form-group mb-4">
                                                    <label>Title</label>
                                                    <input name="@Html.NameFor(model =>model.Title)" type="text" id="article-title" data-clone-target="#article-title-preview" required class="form-control bg-light clone-input-val"><em class="small form-text text-danger invalid-feedback">Field cannot be empty</em>
                                                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group text-muted mb-4">
                                                    <label>Content</label>
                                                    <textarea name="@Html.NameFor(model => model.Description)" id="article-description" data-clone-target="#article-description-preview" required class="form-control bg-light clone-wysiwig"></textarea><em class="small form-text text-danger invalid-feedback">Field cannot be empty</em>
                                                </div>
                                            </div>
                                    </div>
                                </section>
                                <section class="card bg-white shadow-sm border-0 mb-5">
                                    <nav class="card-navbar navbar navbar-dark bg-secondary text-white">
                                        <div class="left d-flex align-items-center">
                                            <div class="h4 font-secondary mb-0">OTHER (OPTIONAL)</div>
                                        </div>
                                        <div class="right">
                                            <button data-toggle="collapse" data-target="#collapse-target-3" type="button" class="btn btn-sm bg-transparent rounded-pill text-white btn-remove"><i class="fa fa-chevron-right"></i></button>
                                        </div>
                                    </nav>
                                    <div id="collapse-target-3" class="collapse show">
                                        <fieldset class="card-body">
                                            <legend></legend>
                                            <div class="text-muted">ATTACHMENT</div>
                                            <div class="border p-4">
                                                <div class="form-group">
                                                    <button data-attachment_add_item="#attachment-item-output" data-use_options="{'name':'file_level[]','options':{'Guest':'guest','Green':'green','Yellow':'yellow'}}" type="button" class="btn bg-light border rounded-pill d-flex align-items-center px-3" data-accept="zip,application/octet-stream,application/zip,application/x-zip,application/x-zip-compressed,application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, text/plain, application/pdf, image/*">
                                                        <span>Add New</span>
                                                        <i style="font-size: 1.5rem" class="fa fa-plus-circle ml-3"></i>
                                                    </button>
                                                </div>
                                                <div class="form-group mb-0">
                                                    <div id="attachment-item-output" class="row"></div>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <fieldset class="card-body">
                                            <legend></legend>
                                            <div class="text-muted">TAG</div>
                                            <div class="rounded-lg border bg-light">
                                                <div class="p-1 p-md-4">
                                                    <div class="input-group flex-nowrap border">
                                                        <input data-add_tag_input="#add-tag-list" id="add-tag" type="text" class="bg-white flex-fill rounded-0 border-0 px-md-3">
                                                        <label for="add-tag" class="input-group-append mb-0">
                                                            <button type="button" class="btn border-0 input-group-text rounded-0 text-wrap btn-add_tag_input p-2 px-md-4 py-md-2"><span>Add TAG</span></button>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div id="add-tag-list" class="row no-gutters"></div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </section>
                            </div>
                            <div id="tr-form-preview" style="display: none;">
                                <h3 class="font-secondary"> <span class="text-secondary">ARTICLE </span><span class="text-dark">PREVIEW</span></h3>
                                <section class="card bg-white shadow-sm border-0 mb-5">
                                    <div class="card-header bg-transparent border-0">
                                        <nav>
                                            <ol class="breadcrumb bg-transparent small text-secondary p-0">
                                                <li class="breadcrumb-item active"><a href="/Trend/Admin/Articles" class="text-dark">Article</a></li>
                                                <li id="article-category1-preview" class="breadcrumb-item text-secondary"></li>
                                            </ol>
                                        </nav>
                                        <div class="row">
                                            <div class="col-sm-10 mx-sm-auto">
                                                <h1 class="h3"><div id="article-title-preview"></div></h1>
                                                <div>AUTHOR</div><strong class="mb-3">
                                                    @Html.Action("GetAuthorName", new { id = Convert.ToInt32(Session["useridbackend"]) })
                                                    <div class="text-secondary"><em><small>@DateTime.Now.ToString("dddd, MMMM dd yyyy")</small></em><span class="text-warning"></span></div>
                                                </strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div id="header-image"></div>
                                        <div class="row overlap-top-10">
                                            <div class="col-sm-10 mx-sm-auto">
                                                <article class="bg-white-75 p-lg-5">
                                                    <div id="article-description-preview" class="bg-white-75 p-lg-5"></div>
                                                    <br />
                                                    <hr />
                                                    <p><strong>Documents Download :</strong></p>
                                                    <div class="row mx-0">
                                                        <div class="form-group attachment-hide-select mb-0">
                                                            <div id="tr-list-attachment-preview" class="row"></div>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <hr />
                                                    <p><strong>Tags : </strong></p>
                                                    <div id="tr-list-tag-preview" class="row no-gutters"></div>
                                                </article>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            </div>
                    </div>
                </div>
            </section>
            <section style="bottom: 0;" class="position-sticky bg-light py-4 sticky-submit-form z-index-10">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="tr-form-fields-buttons">
                                <div class="cust-fab d-inline-block d-md-none left">
                                    <input id="fab-check" type="checkbox" name="" class="fab-check">
                                    <label for="fab-check" class="btn btn-warning text-white rounded-circle btn-fab-trigger"><i class="fa fa-plus"></i></label>
                                    <div class="fab-group">
                                        <button type="submit" class="tr-form-btn-save_as_draft fab-item btn rounded-pill btn-light border-warning shadow-sm">Save as Draft</button>
                                        <button type="submit" class="tr-form-btn-next fab-item btn rounded-pill btn-light border-warning shadow-sm">Next</button>
                                        <button type="reset" class="fab-item btn rounded-pill btn-light border-warning shadow-sm">Cancel</button>
                                    </div>
                                </div>
                                <div class="row d-none d-md-flex justify-content-between">
                                    <div class="col-4">
                                        <a class="btn rounded-0 border-warning bg-light my-1" href="javascript:history.go(-1)" role="button">Cancel</a>
                                    </div>
                                    <div class="col-8 text-right">
                                        <button type="submit" class="tr-form-btn-save_as_draft btn rounded-0 btn-secondary ml-2">Save as Draft</button>
                                        <button type="submit" class="tr-form-btn-next btn rounded-0 btn-warning ml-2">Next</button>
                                    </div>
                                </div>
                            </div>
                            <div id="tr-form-preview-buttons" style="display: none;">
                                <div class="cust-fab d-inline-block d-md-none left">
                                    <input id="fab-check" type="checkbox" name="" class="fab-check">
                                    <label for="fab-check" class="btn btn-warning text-white rounded-circle btn-fab-trigger"><i class="fa fa-plus"></i></label>
                                    <div class="fab-group">
                                        <button type="submit" class="fab-item btn rounded-pill btn-light border-warning shadow-sm">Submit</button>
                                        <button type="button" class="fab-item btn rounded-pill btn-light border-warning shadow-sm tr-form-btn-cancel">Cancel</button>
                                    </div>
                                </div>
                                <div class="row d-none d-md-flex justify-content-between">
                                    <div class="col-4">
                                        <button type="button" class="btn rounded-0 border-warning bg-light tr-form-btn-cancel">Cancel</button>
                                    </div>
                                    <div class="col-lg-2 mt-3 mt-lg-0">
                                        <button type="submit" class="tr-form-btn-submit btn rounded-0 btn-warning w-100">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="sticky-submit-form-observer"></div>
        }
        
    </div>
</main>

@Scripts.Render("~/assets/js/jquery-3.4.1.min.js")
@section ScriptBottom {
    <script type="text/javascript">
        $(document).ready(function () {
            $("article-category1-preview")
            $("#Category1Id").change(function () {
                $("#Category2Id").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetChild")',
                    dataType: 'json',
                    data: { id: $("#Category1Id").val() },
                    success: function (mems) {
                        // states contains the JSON formatted list
                        // of states passed from the controller
                        $("#Category2Id").append('<option value="null">Select</option>');
                        $.each(mems, function (i, member) {
                            $("#Category2Id").append('<option value="' + member.Value + '">' + member.Text + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve category.' + ex);
                    }
                });
                return false;
            });
            $("#Category2Id").change(function () {
                $("#Category3Id").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetChild")',
                    dataType: 'json',
                    data: { id: $("#Category2Id").val() },
                    success: function (mems) {
                        // states contains the JSON formatted list
                        // of states passed from the controller
                        $("#Category3Id").append('<option value="null">Select</option>');
                        $.each(mems, function (i, member) {
                            $("#Category3Id").append('<option value="' + member.Value + '">' + member.Text + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve category.' + ex);
                    }
                });
                return false;
            });
            $("#Category3Id").change(function () {
                $("#Category4Id").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetChild")',
                    dataType: 'json',
                    data: { id: $("#Category3Id").val() },
                    success: function (mems) {
                        // states contains the JSON formatted list
                        // of states passed from the controller
                        $("#Category4Id").append('<option value="null">Select</option>');
                        $.each(mems, function (i, member) {
                            $("#Category4Id").append('<option value="' + member.Value + '">' + member.Text + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve category.' + ex);
                    }
                });
                return false;
            });
            $("#Category4Id").change(function () {
                $("#Category5Id").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetChild")',
                    dataType: 'json',
                    data: { id: $("#Category4Id").val() },
                    success: function (mems) {
                        // states contains the JSON formatted list
                        // of states passed from the controller
                        $("#Category5Id").append('<option value="null">Select</option>');
                        $.each(mems, function (i, member) {
                            $("#Category5Id").append('<option value="' + member.Value + '">' + member.Text + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve category.' + ex);
                    }
                });
                return false;
            });
            $("#Category5Id").change(function () {
                $("#Category6Id").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetChild")',
                    dataType: 'json',
                    data: { id: $("#Category5Id").val() },
                    success: function (mems) {
                        // states contains the JSON formatted list
                        // of states passed from the controller
                        $("#Category6Id").append('<option value="null">Select</option>');
                        $.each(mems, function (i, member) {
                            $("#Category6Id").append('<option value="' + member.Value + '">' + member.Text + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve category.' + ex);
                    }
                });
                return false;
            });
        $("#Category6Id").change(function () {
                $("#Category7Id").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetChild")',
                    dataType: 'json',
                    data: { id: $("#Category6Id").val() },
                    success: function (mems) {
                        // states contains the JSON formatted list
                        // of states passed from the controller
                        $("#Category7Id").append('<option value="null">Select</option>');
                        $.each(mems, function (i, member) {
                            $("#Category7Id").append('<option value="' + member.Value + '">' + member.Text + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve category.' + ex);
                    }
                });
                return false;
            });
        $(window).on('beforeunload', function () {
            $("input[type='file']").val(null);
        });

        });
        CKEDITOR.replace('article-description');
    </script>
}

