@*@model IEnumerable<Com.Trakindo.TSICS.Data.Model.Ticket>*@
@model PagedList.IPagedList<Com.Trakindo.TSICS.Data.Model.Article>
@using PagedList.Mvc;
@{
    ViewBag.Title = "LiteratureTemplate";
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
    var articlefileList = (List<Com.Trakindo.TSICS.Data.Model.ArticleFile>)ViewBag.LiteratureItem;
}
<section class="card bg-white shadow-sm border-0 mb-3">
    <div class="card-body py-4">

            <div class="position-relative">
               @if (ViewBag.IconCategory != null) {
                <picture class="d-block atc-prev-wrap text-center ">
                    <img style="width: 200px; object-fit:cover;" src="@Url.Content("~/Upload/Article/Icons/" + ViewBag.IconCategory)" onerror="this.onerror=null;this.src='@Url.Content("~/Upload/image-not-found.png")';" >
                </picture>
               }
                <div class="h3 font-secondary card-title text-center my-3">
                    <span>@ViewBag.CategoryName</span>
                </div>
            </div>
        </div>
</section>

<section>
   @if (Model.Count > 0 || Model == null)
   {
       foreach (var item in Model)
       {
        <div class="card bg-white shadow-sm border-0 mb-3">
            <div class="card-body">
                <a href="@Url.Action("SaveFile", "Literation", new { id = item.ArticleId })" target="_blank" class="d-block h3-size text-dark mb-3">
                    @item.Title
                </a>
                <div class="small mb-3"><em>@item.CreatedAt</em> | <span class="text-warning">Literature</span></div><p class="card-text">
                @foreach (var articlefileItem in articlefileList)
                    {
                        if (articlefileItem.ArticleId.Equals(item.ArticleId))
                        {
            <i class="badge badge-warning badge-pill">@articlefileItem.Name</i>
        }
    }
</p>
<p class="card-text">
    @Html.Raw(item.Description)
</p> 
                @* @foreach (var tag in ViewBag.LiteratureTags)
                {
                    if (tag.ArticleId == item.ArticleId)
                    {
                        if (tag.Object != null)
                        {
                            <hr />
                            <div class="mt-2 mb-3">Literature Tags</div>
                            <div class="row pl-2">
                                @foreach (var tagItem in tag.Object)
                                {
                                    <i class="badge badge-secondary rounded-pill px-2 py-2 mx-2">@tagItem.Name</i>
                                }
                            </div>
                        }
                    }
                } *@
            </div>
        </div>
       }
    <div id="content-more"></div>
   }
   else
   {
    <div class="end-of-data text-center mt-5">
        <div class="alert alert-danger">NO MORE DATA</div>
    </div>
   }

    </section>
<!--section-- class="card bg-white shadow-sm border-0 mb-3">
    <div class="card-body">
        <a href="javascript:void(0);" class="btn btn-primary" id="btn-content-more" data-target="#content-more" data-api="@ViewBag.Domain/Literation/LoadMore?page=@(String.IsNullOrWhiteSpace(Request.Params["page"]) ? 2 : (Convert.ToInt32(Request.Params["page"]) + 1))">Load More</a>
        <div class="alert alert-danger data-not-found m-0" role="alert" style="display: none;">
            Data not found
        </div>
    </div>
</!--section-->