@model Com.Trakindo.TSICS.Data.Model.User

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<main class="body position-relative d-flex flex-column">
    <div data-active_page="" class="content-wrap flex-fill">

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel">Are You Sure?</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                       Log out from TREND Admin Account
                    </div>
                    <div class="modal-footer">
                        <div class="float-right"><a href="javascript:document.getElementById('logoutForm').submit()" class="btn text-danger px-3 p-2 float-right">Log out</a></div>
                    </div>
                </div>
            </div>
        </div>

        <section class="position-relative mt-5">
            <div class="container-fluid">
                <div class="row no-gutters mb-5">
                    <div class="col-lg-12 position-relative">
                        <section class="position-relative mt-1">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12 position-relative">
                                        <section class="card bg-white shadow-sm border-0 mb-5">
                                            <div class="card-header bg-transparent border-0">
                                                <div class="row">
                                                    <div class="col-lg-6 d-flex align-items-center width9_4cols">
                                                        <div class="h3 text-center font-secondary card-title mb-0">
                                                            <span class="text-muted">YOUR</span> <span class="text-dark">ACCOUNT</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">

                                                <div class="row justify-content-center">
                                                    <div class="card border-0">
                                                        <div class="position-relative">
                                                            <picture class="d-block atc-prev-wrap text-center ">
                                                                @if (Model.PhotoProfile == null)
                                                                {
                                                                    <img style="border-width: 3px !important; width: 120px; height: 120px;" src="@Url.Content("~/assets/images/repository/avatar-default.jpg")" alt="" class="object-fit-cover rounded-circle border border-secondary img-thumbnail mr-3">
                                                                }
                                                                else
                                                                {
                                                                    <img style="border-width: 3px !important; width: 120px; height: 120px;" src="@Url.Content("~/Upload/UserProfile/" + Session["photobackend"])" onerror="this.onerror=null;this.src='@Url.Content("~/assets/images/repository/avatar-default.jpg")';" alt="" class="object-fit-cover rounded-circle border border-secondary img-thumbnail mr-3">
                                                                }

                                                            </picture>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br />


                                                <div class="h2 text-center font-secondary card-title mb-0">
                                                    <span class="text-black text-capitalize">@Model.Name</span>
                                                </div>
                                                <h4 class="text-muted text-center">Administration Web For TREND System</h4>
                                                <div class="h5 text-center font-secondary card-title my-4">
                                                    <span class="text-black text-capitalize">Username : @Model.Username</span>
                                                </div>
                                                <hr />
                                                
                                                <div class="card-body bg-white">
                                                    <div class="float-left"><a href="@Url.Action("Edit","Default")" class="btn btn-outline-secondary px-3 p-2 float-left">Edit Account</a></div>
                                                    @*<div class="float-right"><a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-outline-danger text-danger px-3 p-2 float-right">Log out</a></div>*@
                                                    <button type="button" class="btn btn-outline-danger px-3 p-2 float-right " data-toggle="modal" data-target="#exampleModal">
                                                        Log Out
                                                    </button>
                                                </div>

                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

            </div>
        </section>
    </div>
</main>
